page-home {

    max-width: 100vmin;

    ion-content {
        ion-list {
            height: 100% !important;
            ion-grid {
                height: 100% !important;
                ion-row {
                    width: 100% !important;
                    height: 100% !important;
                    justify-content: center !important;
                    align-items: center !important;                        
                }
            }
        }
    }
}